# name: Deploy AILA Backend to Azure

# on:
#   push:
#     branches:
#       - main

# jobs:
#   build-and-deploy:
#     runs-on: ubuntu-latest

#     steps:
#       # Checkout repo
#       - name: Checkout code
#         uses: actions/checkout@v4

#       # Setup python
#       - name: Setup Python
#         uses: actions/setup-python@v5
#         with:
#           python-version: "3.11"

#       # Install dependencies inside Linux
#       - name: Install dependencies
#         run: |
#           python -m pip install --upgrade pip
#           pip install -r requirements.txt -t .python_packages/lib/site-packages

#       # Zip app
#       - name: Create deployment zip
#         run: |
#           zip -r app.zip . \
#           -x "venv/*" \
#           -x "__pycache__/*" \
#           -x ".git/*" \
#           -x ".github/*"

#       # Deploy to Azure
#       - name: Deploy to Azure WebApp
#         uses: azure/webapps-deploy@v3
#         with:
#           app-name: aila-uk-backend-abhay
#           publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
#           package: app.zip
name: Deploy FastAPI to Azure

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: aila-uk-backend-abhay
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
